<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar">
            <img src="img/burger.png" alt="burger" />
            <h1> Eat-A-Burger </h1>
        </div>
        <div class="col-md-12 text-center">
            <form class="devour-form button-size" id="createBurger">
                <input class="burger_is" type="text" value="{{this.id}}" /><br />
                <button type="submit" class="btn btn-primary" id="burgerBtn">Submit</button>
            </form>
        </div>
    </div>
    <div class="row" id="burgerList" style="padding: 50px;">
        <div class="col-md-6" class="task" name="id">
            {{#each burgers}}
            {{#unless this.devoured}}
            <div>
               <span value="{{this.id}}">{{this.id}}. {{this.burger_name}}</span> 
               <button type="submit" class="btn btn-primary devBtn"  data-id="{{ this.id }}">Devour It!</button>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6" class="task">
            {{#each burgers}}
            {{#if this.devoured}}
            <div>
                {{this.id}}. {{this.burger_name}}<span id="devoured">devoured</span>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>